.cursor {
  cursor: pointer;
}

.ch4-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
}

.ch4-label {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  margin-bottom: 1em;
}

.ch4-sub-label {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  margin-bottom: 1em;
}

.ch4-button {
  line-height: 38px;
  font-size: 14px;
  font-weight: 600;
  color: #5A93AF;
  background-color: white;
  padding: 0px 30px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1em;
}

.ch4-input {
  height: 18px;
  border-radius: 10px;
  border: solid 1px #e3e3e3;
  padding: 11px;
  margin-bottom: 1em;
}

.ch4-cep-result-container {
  display: flex;
}

.ch4-cep-result {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  margin-top: 2rem;

  font-size: 16px;
  font-family: sans-serif;
  color: white;
}

.ch4-cep-result label {
  margin-bottom: 6px;
}

.ch4-cep-result :nth-child(1) {
  text-align: center;
}
